#titulo_principal {

    text-align: center;
    background-color: deepskyblue;
    font-size: 4em; 
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    padding: 10px;   
    color: #2249ba;
}

#subtitulo {
    text-align: left;
    background-color: gold;
    font-family: 'Orbitron', sans-serif;
    color: darkred;
}

.articulos{
    display: inline-block;
    background-color: lawngreen;
    margin: 20px 80px;
}

.pie_pagina{
    font-family: monospace;
    text-align: center;
    color: deepskyblue ;
    background-color: black;
    padding: 20px;
    margin-top: 100%;
}




