#titulo_principal {
    text-align: left;
    font-size: 3em; 
    font-family: 'Orbitron', sans-serif;
    font-weight: 1920px;
        
    font-size: 80px;
    padding: 10px;
    font-size-adjust: initial;   
    color: blanchedalmond;
}

nav{
    background-color: rgb(14, 36, 82);
    padding: 10px;
    border-radius:10px;  

}

.nav__li{
    display: inline-block;
    font-weight: 100vh;
    padding: 10px;
    font-size: 20px;
}
.nav__li i{
    
    color: whitesmoke;

}
a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
}

.articulos{
    display: flex;
    


}


.pie_pagina{
    font-family: monospace;
    text-align: center;
    color: deepskyblue ;
    background-color: black;
    padding: 20px;
    margin-top: 100%;
}

body {
    display: flexbox;
    background-image: url(imagenes_randall/titulo.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    ba
}




